@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    padding: 0px;
    margin: 0px;
}
html {
    height: 100%;
    width: 100%;
    background-color: #202124;
    scroll-behavior: smooth;
    font-family: "IBM Plex Mono", monospace;

  }
.head {
    padding-left: 2rem;
    padding-top: 1em;
    padding-bottom: 2rem;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;

    background-color: #3c3d40;
    position:relative;
}
.head h1{
    padding-top: 0.5rem;
    color: #fdf500;
}
.intro{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    padding-left: 5vw;
    padding-top: 5vh;
    color: #fdf500;
}
.intro p{
    padding-top: 5vh;
    font-weight: 600;
    font-size: 24px;
}
.lists{
 padding-left: 5vw;
    padding-top: 5vh;
    color: #fdf500;
    
}

.lists p{
    padding-top: 5vh;
    font-weight: 900;
    font-size: 24px;
}
.lists ol{
font-size: 16px;
font-weight: 500;
}

.stack{
    display:flex;
    justify-content: center;
    align-items:center;
}
.stack li{
    overflow: auto;
    padding: 5rem;
   
    align-content: center;
    font-weight: 500;
    font-size: 18px;
}
.stack li:hover{
    transform: scale(1.25);
    transition-duration: 0.5s;
}
.stack li :not(:hover){
transform: scale(1);
transition-duration: 0.5s;
}
.lists ol ul img{

    align-items: center;

}
.lists ol ul img ::hover {
    transform: 1.5;
}
